@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  padding-left: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(201, 247, 235);
}

.navbar h1 {
  color: #1061be;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #1061be;
}

.content {
  max-width: 600px;
  margin: 25px auto;
  padding: 20px;
}

/* event previews / list */
.event-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.event-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.event-preview h2 {
  font-size: 20px;
  color: #1061be;
  margin-bottom: 8px;
}

.event-preview a {
  text-decoration: none;
}

/* event details page */
.event-details h2 {
  font-size: 20px;
  color: #1061be;
  margin-bottom: 10px;
}
.event-details div {
  margin: 20px 0;
}
.event-details button {
  background: #fa1313;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.event-details button:hover {
  background: #c40505;
}

/* create new event form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1061be;
  margin-bottom: 30px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #1061be;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

